.titles {
        text-align: center;
        color:  white;
        border-radius: 10px;
        border-style: solid;

}

.background{

    background-color: #2f4ced;
}

.sizes{
    font-size: 90px;
    .titles{font-size: 90px;
        color: red;
    }
}

